@model IEnumerable<ADSBackend.Models.Officer>

@{
    ViewData["Title"] = "Officers";
}
<div class="ibox">
    <div class="ibox-title b-r-md">
        <h2>Officers</h2>
    </div>
    <div class="ibox-content b-r-md">
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create New Officer</a>
        <form asp-action="Index" method="get" style="float:right">
            <div class="form-actions no-color">
                Find by name: <input class="form-control-static" name="search" value="@ViewData["Search"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index" class="btn btn-default">Back to Full List</a>
            </div>
        </form>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @await Html.PartialAsync("_CrudButtons", item.OfficerId)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>