@model IEnumerable<ADSBackend.Models.Club>

@{
    ViewData["Title"] = "Clubs";
}
<div class="ibox">
    <div class="ibox-title b-r-md">
        <h2>Your Clubs</h2>
    </div>
    <div class="ibox-content b-r-md">
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create New Club</a>
        <form asp-action="Index" method="get" style="float:right">
            <div class="form-inline">
                Find by name: <input class="form-control" name="search" value="@ViewData["Search"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index" class="btn btn-default">Back to Full List</a>
            </div>
        </form>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var club in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => club.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => club.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => club.Password)
                        </td>
                        <td>
                            @await Html.PartialAsync("_CrudButtons", club.ClubId)
                            <a class="btn btn-warning btn-bitbucket" asp-controller="Clubs" asp-action="BoardIndex" asp-route-id="@club.ClubId"><i class="fa fa-rss"></i> Messageboard</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>